.reviews-section{
    height:100vh;
    margin-top: 5rem;
    /* background: yellow; */
}
.reviews-section .section-heading {
    text-align: center;
    color: #686bf7;
    padding-top: 5.5em;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    width: 100%;
    transition: all 0.2s;
  }
  .section-heading:hover {
    text-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
    transform: skew(5deg, 5deg);
  }