.about-section {
  background: #f4f4f4;
  margin-top: -20vh;
  padding: 5rem 0;
}
.section-heading {
  text-align: center;
  color: #686bf7;
  padding-top: 2.5em;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.section-heading:hover {
  text-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  transform: skew(5deg, 5deg);
}
.about-description {
  margin: 0 4rem;
  padding-top: 3rem;
}
.about-title {
  font-size: 1rem !important;
}
.about-text {
  margin: 1em 2em 2em 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
}
.more,
.more:focus {
  background: none;
  border: none;
  box-shadow: none;
  color: #686bf7;
  text-decoration: underline;
  outline: none;
}
.more:hover {
  background: #686bf7;
  color: #fff;
}
.image-container {
  position: relative;
  margin-top: 1%;
  height: 100%;
}

.image-1 {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  position: absolute;
  top: 25%;
  left: 25%;
  transition: all 0.2s;
}
.image-2 {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  position: absolute;
  right: -5%;
  z-index: 1;
  top: 40%;
  transition: all 0.2s;
}
.image-3 {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  position: absolute;
  right: -7em;
  top: -20%;
  z-index: 10;
  transition: all 0.2s;
}
.image-1:hover,
.image-2:hover,
.image-3:hover {
  transform: scale(1.5);
  z-index: 999;
  outline: 5px solid #686bf7;
  outline-offset: 1rem;
}
/* @media (min-width: 768px) {
  .image-1 {
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
    position: absolute;
    top: 14em;
    left: 25%;
    transition: all 0.2s;
  }
} */
