.features-section {
  height: 100vh;
  background: linear-gradient(
      rgba(124, 185, 232, 0.603),
      rgba(124, 185, 232.603)
    ),
    url("./images/nat-4.jpg");
  background-position: cover;
  padding: 9.5em 0;
  margin-top: 1rem;
  transform: skewY(-7deg);
}
.card-container {
  transform: skewY(7deg);
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
}
.ant-card {
  padding: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  transition: transform 0.3s ease;
}
.ant-card:hover {
  transform: translateY(-20px);
}
.card-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #978e8e;
}
@media (max-width: 768px) {
  .features-section {
    padding: 5em 0;
  }
  .card-container {
    padding: 1em 1em;
  }
  .ant-card {
    margin-bottom: 0.5em;
    /* padding: 0; */
    height: 9em;
  }
  .ant-card-body {
    padding: 0;
  }
  .description {
    display: none;
  }
}
svg path {
  stroke-width: 5;
}
